<ns-action-bar title="Current Challenge" [showBackButton]="false">
  <ActionItem
    android.position="actionBar"
    nsRouterLink="/challenges/replace"
    pageTransition="slideLeft"
  >
    <Label text="Replace"></Label>
  </ActionItem>
  <ActionItem
    android.position="actionBar"
    nsRouterLink="/challenges/edit"
    pageTransition="slideLeft"
  >
    <Label text="Edit"></Label>
  </ActionItem>
</ns-action-bar>
<StackLayout>
  <Button text="Change Status" (tap)="onChangeStatus()"></Button>
</StackLayout>
